<section class="bln-sidebarcontainer" ng-class="{'bln-state-disablemobile': disableMobileSidebar}">

    <!-- Sidebar toggle -->
    <a class="bln-sub-toggle" ng-click="toggleSidebar()" ng-class="{'bln-state-ontop': onTop, 'bln-state-open': sidebarIsActive}">
        <div class="bln-icon bln-icon-darkbutton">
            <span class="open">"</span>
            <span class="close">f</span>
        </div>
    </a>

    <!-- Sidebar -->
    <nav class="bln-sidebar">
        <div class="content">

            <!-- Bundlin logo + nav -->
            <ul class="group">
                <li class="bln-sidebaricon bln-sidebaricon-logo">
                    <a ui-sref="app.home" title="Bundlin">
                        <figure class="image bln-sprite bln-sprite-logo {{generalLoading ? 'bln-sprite-logo-' + generalLoading : ''}}"></figure>
                        <span class="bln-icon bln-icon-budicon-4" ng-if="!$state.includes('app.home')"></span>
                    </a>
                </li>
                <li class="group group-animate" ng-if="user.loggedIn">
                    <div class="bln-sidebaricon bln-sidebaricon-avatar" ng-style="{'background-image': 'url(' + (user.picture.h128 || user.picture.original || '/images/default.png') + ')'}"><a ui-sref="app.view_profile.bundles({ profileScreenName: user.username })" title="Logged in"></a></div>
                </li>  
                <li class="group group-animate" ng-if="!user.loggedIn">
                    <div class="bln-sidebaricon bln-sidebaricon-text">
                        <a title="Sign in" class="text" ng-click="login()">
                        <span class="bln-icon bln-icon-white bln-icon-sidebar bln-icon-budicon-23"></span> Sign in
                        </a>
                    </div>
                </li>                              
            </ul>

            <!-- user 
            <ul class="group group-animate" ng-if="user.loggedIn">
                <li class="bln-sidebaricon bln-sidebaricon-avatar" ng-style="{'background-image': 'url(' + (user.picture.h128 || user.picture.original || '/images/default.png') + ')'}">
                    <a ui-sref="app.view_profile.bundles({ profileScreenName: user.username })" title="Logged in"></a>
                </li>
            </ul>
            -->

            <!-- no user 
            <ul class="group group-animate" ng-if="!user.loggedIn">
                <li class="bln-sidebaricon bln-sidebaricon-text">
                    <a title="Sign in" class="text" ng-click="login()">
                        <span class="bln-icon bln-icon-white bln-icon-sidebar bln-icon-budicon-23"></span> Sign in
                    </a>
                </li>
            </ul>
            -->

            <div class="top">
                <ul class="group group-topmargin group-animate" ng-if="user.loggedIn">
                    <!-- notifications -->
                    <li class="bln-sidebaricon" ng-class="{'bln-state-active': menuStates.notifications}">
                        <a side-extension-toggle="notificationsMenu">
                            <span class="bln-sub-dotlabel bln-sub-dotlabel-horn" ng-class="{ 'bln-state-active': user.hasUnreadNotifications() }"></span>
                            <span class="bln-icon bln-icon-white bln-icon-sidebar bln-icon-budicon-40"></span>
                        </a>
                    </li>

                    <!-- create bundle -->
                    <li class="bln-sidebaricon bln-sidebaricon-text bln-sidebaricon-text-small" ng-class="{'bln-state-active': $state.includes('app.edit_bundle')}">
                        <a ng-click="user.hasRole('beta', 'admin') && createBundle()">
                            <span class="bln-icon bln-icon-white bln-icon-sidebar bln-icon-create-bundle-icon"></span> New bundle
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom">
                <ul class="group group-bottommargin group-animate" ng-if="user.loggedIn">
                    <!-- search -->
                    <li class="bln-sidebaricon">
                        <a ng-click="search()" tooltiptoggle="!user.hasRole('beta', 'admin')" tooltiptoggle-template="beta" tooltiptoggle-angle="right-bottom" tooltiptoggle-scope="{login: login, user: user}" tooltiptoggle-style="margin-left: 16px;">
                            <span class="bln-icon bln-icon-white bln-icon-sidebar bln-icon-budicon-35"></span>
                        </a>
                    </li>

                    <!-- options -->
                    <li class="bln-sidebaricon" ng-class="{'bln-state-active': menuStates.settings}">
                        <a side-extension-toggle="settingsMenu">
                            <span class="bln-icon bln-icon-white bln-icon-sidebar bln-icon-budicon-44"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <!-- Menus (side extensions) -->
    <div ng-if="user.loggedIn">
        <section side-extension="notificationsMenu" class="bln-sideextension  bln-sideextension-notifications" ng-class="{'active': sideextension.state}">
            <a href="#" ng-click="closeSideExtension('notificationsMenu')" class="bln-sub-closesideextension">
                <span class="bln-icon bln-icon-budicon-5 bln-icon-lightbutton"></span>
            </a>
            <ng-include src="'/views/partials/sideextensions/notificationsMenu.html?v=' + BLN_BUILD_TIMESTAMP"></ng-include>
        </section>

        <section side-extension="settingsMenu" class="bln-sideextension bln-sideextension-settings" ng-class="{'active': sideextension.state}">
            <a href="#" ng-click="closeSideExtension('settingsMenu')" class="bln-sub-closesideextension">
                <span class="bln-icon bln-icon-budicon-5 bln-icon-lightbutton"></span>
            </a>
            <ng-include src="'/views/partials/sideextensions/settingsMenu.html?v=' + BLN_BUILD_TIMESTAMP"></ng-include>
        </section>
    </div>

</section>