<div class="bln-bundleitemnote" expandable>

    <!-- Description only -->
    <p class="bln-bundleitemdescription switch-paragraph expand" truncate truncate-after="a.bln-readmore">
        <span ng-bind-html="item.fields.description | bundlinRaw"></span>
        <a class="bln-readmore bln-readmore-text bln-readmore-truncate compile" ng-click="expand()">
          Continue reading
          <span class="bln-icon bln-icon-budicon-1 bln-icon-inline" style="padding-bottom:0;"></span>
        </a>
    </p>

</div>