<span class="title">Epic Bundle check</span>
<span class="text">We want your Bundle to look awesome. Check if it contains the following:</span>
<hr/>
<ul>
    <li ng-class="{'valid': tooltiptoggleScope.title}">Title</li>
    <li ng-class="{'valid': tooltiptoggleScope.description}">Description</li>
    <li ng-class="{'valid': tooltiptoggleScope.picture}">Cover photo</li>
    <li ng-class="{'valid': tooltiptoggleScope.tags}">Tag(s)</li>
    <li ng-class="{'valid': tooltiptoggleScope.items}">Min 5 - max 8 items</li>
</ul>